* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-bar {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
}

.name-bar {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
}

.sidebar {
    grid-area: sidebar;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
}