@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-bar {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
}

.name-bar {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 30px;
    padding-top: 20px;
    background-color: rgb(78, 166, 220);
    color: white;
}

.sidebar h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
}

.sidebar li {
    list-style: none;
    margin-bottom: 12px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.8px;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
}