@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

header {
    box-shadow: 0px 3px 5px rgb(179, 174, 174);
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "search-bar account"
        "greeting buttons";
    padding: 24px 50px 15px;
    row-gap: 25px;
}

.search-bar {
    grid-area: search-bar;
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar input {
    width: 650px;
    height: 40px;
    border-radius: 24px;
    border: none;
    background-color: rgb(225, 225, 225);
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.account {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 70px;
}

.profile-img-1 {
    margin-left: 10px;
    padding-top: 2px;
}

.profile-img-1 > img{
    border-radius: 50%;
}

.account > p {
    font-weight: 500;
    font-size: 22px;
}

.search-bar button,
.account button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.search-icon,
.bell-icon {
    font-size: 28px;
    padding-top: 4px;
}

.greeting {
    grid-area: greeting;
    display: flex;
    gap: 18px;
}

.profile-img-2 {
    padding-top: 7px;
}

.profile-img-2 > img{
    border-radius: 50%;
}

.greeting p {
    padding-top: 5px;
    font-size: 24px;
    font-weight: 700;
}

.greeting span {
    font-size: 14px;
    font-weight: 700;
}

.action-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-buttons-container button {
    border: none;
    width: 100px;
    padding: 10px 0 10px 0;
    color: white;
    font-weight: 700;
    background-color: rgb(78, 166, 220);
    border-radius: 24px;
    height: 40px;
}

.action-buttons-container button:hover {
    background-color: rgb(15, 123, 189);
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 30px;
    padding-top: 20px;
    background-color: rgb(78, 166, 220);
    /* background-color: rgb(23, 50, 66); */
    color: white;
}

.sidebar h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
}

.sidebar-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-title .title {
    font-size: 40px;
}

.sidebar li {
    list-style: none;
    margin-bottom: 16px;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.8px;
    padding-left: 5px;
}

.nav-icon {
    font-size: 25px;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 2fr 0.9fr;
    grid-template-rows: auto auto;
}

.main-content-projects {
    grid-row: 1 / 3;
}

.main-content h3{
    margin: 30px 0px 0px 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 20px 20px;
}

.card {
    box-shadow: -2px 2px 2px rgb(198, 197, 197),
    2px -2px 2px rgb(198, 197, 197);
    border-radius: 7px;
    width: 90%;
    margin-bottom: 25px;
    padding: 30px;
}

.announcement-cards
,.trending-cards 
{
    display: flex;
    flex-direction: column;
    margin: 15px 50px 0 20px;
    padding: 10px 30px;
    border-radius: 7px;
    box-shadow: -2px 2px 2px rgb(198, 197, 197),
    2px -2px 2px rgb(198, 197, 197);
}

.announcement-cards div {
    padding: 20px 0;
}

.announcement-cards div p {
    font-size: 14px;
    color: grey;
    margin-top: 3px;
}

.announcement-cards div:nth-child(1),
.announcement-cards div:nth-child(2) {
    border-bottom: 2px solid rgb(175, 174, 174);
}

.trending-cards div {
    margin-bottom: 20px;
}

.trending-cards div:first-of-type {
    margin-top: 10px;
}

.trending-cards div:last-of-type {
    margin-bottom: 10px;
}

.trending-cards div img {
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.trending-profile-id {
    font-size: 17px;
}

.trending-project-name {
    color: grey;
}